.axg__pos {
    display: flex;
    flex-direction: row;
}

.axg__pos-image {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-right: 2rem;
}

.axg__pos-image img {
    width: 100%;
    height: 100%;
}

.axg__pos-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.axg__pos-content h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #71E5FF;
    margin-bottom: 1rem;
}

.axg__pos-content h4:last-child {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #FF8A71;

}

.axg__pos-content h1 {  
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    margin-bottom: 1rem;
}

.axg__pos-content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-text);
    margin-bottom: 2rem;

}

@media screen and (max-width: 950px) {
    .axg__pos {
        flex-direction: column;
    }

    .axg__pos-image {
        margin: 1rem 0;
    }

    .axg__pos-content {
        margin-top: 2rem;
    }
}